datasets
einops
ipympl
ipywidgets==8.1.2
jupyterlab-sql-explorer
jupyterlab_unfold
langchain
langchain-community
langchain-experimental
langchain_aws
langchain_openai
langchain_postgres
matplotlib
mplcursors
mteb
numpy
open_clip_torch
psycopg2
scikit-learn
seaborn
sentence_transformers
